.logo-yi-vege,
.sayur,
.makanan {
    width: 100%;
}

.logo-yi-vege {
    display: block;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.center {
    display: block;
    margin: 0 auto;
}

.logo-contact {
    width: 45px;
    flex: 1;
    margin-left: 45px;
    margin-right: 45px;
}

.menu {
    color: white;
    font-weight: 500;
}

@media screen and (min-width: 700px) {
    .logo-yi-vege {
        width: 60%;
    }

    .makanan {
        width: 300px;
    }

    .logo-contact {
        width: 80px;
        margin-left: 60px;
        margin-right: 60px;
    }
}