/**
 * CSS that specify the web typography
 */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

body {
    font-size: 1.0rem;
    font-family: Rubik, Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 500;
    color: white;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.0rem;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    font-size: 0.8rem;
}

p {
    font-size: 1.0rem;
    margin-top: 0;
}

.size20 {
    font-size: 2.0rem;
}

/* || Desktop screen */
@media screen and (min-width: 700px) {
    /* || Typography */
    body {
      font-size: 1.5rem;
    }
  
    h1 {
      font-size: 3.2rem;
    }
    
    h2 {
      font-size: 2.8rem;
    }
    
    h3 {
      font-size: 2.6rem;
    }
    
    h4 {
      font-size: 2.4rem;
    }
    
    h5 {
      font-size: 2.1rem;
    }
    
    h6 {
      font-size: 1.8rem;
    }
    
    p {
      margin-top: 0;
    }
}